{% extends '_default/page.html.twig' %}
{% block title %}{{ page.title }} - Documentation API{% endblock %}

{% block content %}

{% endblock %}
<div class="documentation">
{% include 'C:/Users/ines/Desktop/projet/test/my-project/fetch_docs.php' %}
</div>