{% extends '_default/page.html.twig' %}

    {%- block article ~%}
      <div class="flex-col">
        {#- blocks ~#}
        {%- for block in page.blocks|default ~%}
        {{- include('partials/blocks/' ~ block.name ~ '.html.twig', ignore_missing = true) ~}}
        {%- endfor ~%}
        {#- content ~#}
        {%- if page.content ~%}
        <article id="content" >
          {%- block content ~%}
          {{ page.content }}
          {%- endblock content ~%}
        </article>
        {%- endif ~%}
      </div>
    {%- endblock article ~%}