      {#- sidebar mobile button ~#}
      <button class="navbar-item flex lg:hidden items-center mr-3" onclick="toggleMenu()">
        <svg id="sidebar-open" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
          <title>{% trans %}Open menu{% endtrans %}</title><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
        </svg>
        <svg id="sidebar-close" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 hidden">
          <title>{% trans %}Close menu{% endtrans %}</title><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
        </svg>
      </button>
      {#- site title ~#}
      <div class="navbar-item mr-3 truncate">
        <a href="{{ url(site.home) }}" title="{{ 'Home page'|trans }}" class="font-medium text-inherit hover:text-inherit py-2">{{ site.title }}</a>
      </div>