
  /* sidebar */
  .bg-custom-sidebar {
    background-color: #364760;
  }


   /* sidebar */
   .bg-custom-sidebar:is(.dark *) {
    background-color: #1E3A8A;
  }
  
  #sidebar div.group-title {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  
  #sidebar div.group-title:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(226 232 240 / var(--tw-text-opacity));
  }
  
  #sidebar ol {
    margin-bottom: 0.5rem;
    list-style-type: none;
    padding: 0px;
  }
  
  #sidebar ol:last-child {
    margin-bottom: 0px;
  }
  
  #sidebar li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  
  #sidebar li:last-child {
    margin-bottom: 0px;
  }
  
  #sidebar li>a {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(203 213 225 / var(--tw-text-opacity));
    text-decoration-line: none;
  }
  
  #sidebar li>a:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(203 213 225 / var(--tw-text-opacity));
  }
  
  #sidebar li>a.active,
    #sidebar li>a:hover {
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    color: rgb(30 41 59 / var(--tw-text-opacity));
    background-color: rgb(191 219 254 / var(--tw-bg-opacity));
  }
  
  #sidebar li>a.active:is(.dark *),
    #sidebar li>a:hover:is(.dark *) {
    --tw-text-opacity: 1;
    color: rgb(30 41 59 / var(--tw-text-opacity));
  }
  
  #sidebar li>a.active {
    --tw-text-opacity: 1;
    color: rgb(30 41 59  / var(--tw-text-opacity));
  }