        {#- hero ~#}
        <section id="{{ block.name }}" class="px-4 md:px-8 lg:px-14 xl:px-24 py-6 pt-7 md:pt-10 lg:pt-18">
          <div class="max-w-screen-xl mx-auto">
            
                {%- if block.image is defined ~%}
                <div class="-mt-8 lg:mt-0 lg:order-2 w-2/3 lg:w-full max-w-80 mx-auto text-center drop-shadow-2xl shadow-primary-700">
                  {{ asset(block.image)|html(attributes={alt:'', class:'inline'}) }}
                </div>
                {%- endif ~%}
              <div class="lg:col-span-2">
                <div class="flex flex-col space-y-4 justify-center text-center lg:justify-start lg:text-left">
                  <h2 class="font-bold text-4xl md:text-5xl lg:text-6xl tracking-tight">
                    <span class="font-semibold text-primary-800 custom-color">{{ site.title }}</span>
                    {{ site.baseline}}
                  </h2>
                </div>
              </div>
           
          </div>
                  </section>