<!-- sdk.html.twig -->
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Documentation SDK</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .icon-box {
            background-color: #e6f7f8;
            border-radius: 5px;
            padding: 20px;
            text-align: center;
            margin-bottom: 20px;
            transition: background-color 0.3s ease;
        }
        .icon-box:hover {
            background-color: #d1e0e0;
        }
        .icon-box img {
            height: 50px;
            filter: grayscale(100%);
            margin-bottom: 10px;
        }
        .icon-box h5 {
            color: #555;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="text-center my-5">
            <h2>Documentation SDK</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="favicon.png" class="icon-box">
                    <img src="favicon.png" alt="PHP">
                    <h5>PHP</h5>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://github.com/your-repo/ruby-sdk" class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/Ruby_logo.svg" alt="Ruby">
                    <h5>Ruby</h5>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://github.com/your-repo/go-sdk" class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Go_Logo_Blue.svg" alt="Go">
                    <h5>Go</h5>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://github.com/your-repo/swift-sdk" class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Swift_logo.svg" alt="Swift">
                    <h5>Swift</h5>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://github.com/your-repo/vbnet-sdk" class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/40/VB.NET_Logo.svg" alt="VB.net">
                    <h5>VB.net</h5>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://github.com/your-repo/python-sdk" class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" alt="Python">
                    <h5>Python</h5>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://github.com/your-repo/java-sdk" class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/en/3/30/Java_programming_language_logo.svg" alt="Java">
                    <h5>Java</h5>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://github.com/your-repo/nodejs-sdk" class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" alt="Node.js">
                    <h5>Node.js</h5>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://github.com/your-repo/csharp-sdk" class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Csharp_Logo.png" alt="C#">
                    <h5>C#</h5>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://github.com/your-repo/curl-sdk" class="icon-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5d/CURL_logo.svg" alt="CURL">
                    <h5>CURL</h5>
                </a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
